#FPGA_GCLK
NET "CLK" LOC = "N8" | IOSTANDARD = LVCMOS33;

#CLK_LFC
NET "CLK_LFC" LOC = "N7" | IOSTANDARD = LVCMOS33;

#BTNs
NET "BTN_0" LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "BTN_1" LOC = "P9" | IOSTANDARD = LVCMOS33;

#LEDs
NET "LEDS<0>" LOC = "N3" | IOSTANDARD = LVCMOS33;
NET "LEDS<1>" LOC = "P3" | IOSTANDARD = LVCMOS33;
NET "LEDS<2>" LOC = "N4" | IOSTANDARD = LVCMOS33;
NET "LEDS<3>" LOC = "P4" | IOSTANDARD = LVCMOS33;

#DEPP Signals
#NET "DEPP_WAIT" LOC = "B6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_ASTB" LOC = "A6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_DSTB" LOC = "B7" | IOSTANDARD = LVCMOS33;
#NET "DEPP_WRITE" LOC = "A7" | IOSTANDARD = LVCMOS33;
#NET "DBUS<0>" LOC = "B9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<1>" LOC = "A9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<2>" LOC = "B10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<3>" LOC = "A10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<4>" LOC = "B11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<5>" LOC = "A11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<6>" LOC = "B12" | IOSTANDARD = LVCMOS33;
#NET "DBUS<7>" LOC = "A12" | IOSTANDARD = LVCMOS33;

#IO PORTs

#A (0:7)
NET "DAC0_CLK" LOC = "P5" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<9>" LOC = "N5" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<8>" LOC = "N6" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<7>" LOC = "P7" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<6>" LOC = "P12" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<5>" LOC = "N12" | IOSTANDARD = LVCMOS33;
NET "SYS_NRST" LOC = "L14" | IOSTANDARD = LVCMOS33;
#NET "PORTA<7>" LOC = "L13" | IOSTANDARD = LVCMOS33;

#B (0:7)
#NET "PORTB<0>" LOC = "K14" | IOSTANDARD = LVCMOS33;
#NET "PORTB<1>" LOC = "K13" | IOSTANDARD = LVCMOS33;
#NET "PORTB<2>" LOC = "J14" | IOSTANDARD = LVCMOS33;
#NET "PORTB<3>" LOC = "J13" | IOSTANDARD = LVCMOS33;
#NET "PORTB<4>" LOC = "H14" | IOSTANDARD = LVCMOS33;
#NET "PORTB<5>" LOC = "H13" | IOSTANDARD = LVCMOS33;
#NET "PORTB<6>" LOC = "F14" | IOSTANDARD = LVCMOS33;
#NET "PORTB<7>" LOC = "F13" | IOSTANDARD = LVCMOS33;

#C (0:6)
#NET "PORTC<0>" LOC = "G14" | IOSTANDARD = LVCMOS33;
#NET "PORTC<1>" LOC = "G13" | IOSTANDARD = LVCMOS33;
#NET "PORTC<2>" LOC = "E14" | IOSTANDARD = LVCMOS33;
#NET "PORTC<3>" LOC = "E13" | IOSTANDARD = LVCMOS33;
NET "ADC1_SCLK" LOC = "D14" | IOSTANDARD = LVCMOS33;
NET "ADC1_SDI" LOC = "D13" | IOSTANDARD = LVCMOS33;
NET "ADC1_NCS" LOC = "C13" | IOSTANDARD = LVCMOS33;


#D (0:7)
#NET "PORTD<0>" LOC = "A3" | IOSTANDARD = LVCMOS33;
#NET "PORTD<1>" LOC = "B3" | IOSTANDARD = LVCMOS33;
#NET "PORTD<2>" LOC = "A2" | IOSTANDARD = LVCMOS33;
NET "ADC0_NCS" LOC = "B1" | IOSTANDARD = LVCMOS33;
NET "ADC0_SDI" LOC = "C1" | IOSTANDARD = LVCMOS33;
NET "ADC0_SCLK" LOC = "D1" | IOSTANDARD = LVCMOS33;
#NET "PORTD<6>" LOC = "D2" | IOSTANDARD = LVCMOS33;
#NET "PORTD<7>" LOC = "E1" | IOSTANDARD = LVCMOS33;

#E (0:7)
#NET "PORTE<0>" LOC = "E2" | IOSTANDARD = LVCMOS33;
NET "DAC1_SCLK" LOC = "F1" | IOSTANDARD = LVCMOS33;
NET "DAC1_NCS" LOC = "F2" | IOSTANDARD = LVCMOS33;
NET "DAC1_MOSI" LOC = "H1" | IOSTANDARD = LVCMOS33;
NET "DAC1_NLDAC" LOC = "H2" | IOSTANDARD = LVCMOS33;
NET "DAC1_MISO" LOC = "G1" | IOSTANDARD = LVCMOS33;
#NET "PORTE<6>" LOC = "G2" | IOSTANDARD = LVCMOS33;
#NET "PORTE<7>" LOC = "J1" | IOSTANDARD = LVCMOS33;

#F (0:6)
#NET "PORTF<0>" LOC = "J2" | IOSTANDARD = LVCMOS33;
#NET "PORTF<1>" LOC = "K1" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<4>" LOC = "K2" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<3>" LOC = "L1" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<2>" LOC = "L2" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<1>" LOC = "M1" | IOSTANDARD = LVCMOS33;
NET "DAC0_DATA<0>" LOC = "M2" | IOSTANDARD = LVCMOS33;